<body>
	<div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome!</h1>
            <p>Here you can read all about <b>ME</b>! I hope that you like what you see, and maybe we can work together on cool projects sometime.  Click below to send me your email so that we can get in touch and discuss the arts.  It's of course not free, but it is definitely worth it.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>
    </div>
</body>