<body>
	<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Get to know me</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
                <!-- NOTE, I got this iframe from youtube itself.  Just go to any video and under it you can click on "share", then click "embed".  ENJOY!!! -->
            </div>
        </div>

        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>I'm all about doin that work, and gettin it done no excuses.  If this sounds like you, then I think we'll get along just fine.  When not getting work done, I enjoy hiking, movies, and using my phone to remain antisocial.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Awesome.</li>
                <li>Sauce.</li>
                <li>All.</li>
                <li>Day.</li>
            </ul>
        </div>
    </container>
</body>